@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit&family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');
 /* children element */


:root{
    --white: #FFFFFF;
    --black: #000000;
    --light-white: #d8d6c7;
    --light-dark: #343a40;
    --blue: #0000ff;
    --cornflowerblue: #6495ed;
    --sky-blue : #00B7E3;
    --grey-ash: #969492;
    --black-russian: #17141F;
}

@font-face {
    font-family: Saol Display;
    src: url(./assets/fonts/SaolDisplay-Regular.woff2) format("woff2"),url(./assets/fonts/SaolDisplay-Regular.woff2) format("woff");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: Saol Display;
    src: url(./assets/fonts/SaolDisplay-Light.woff2) format("woff2"),url(./assets/fonts/SaolDisplay-Light.woff2) format("woff");
    font-weight: 300;
    font-style: normal
  }
  
  @font-face {
    font-family: Saol Text;
    src: url(./assets/fonts/SaolDisplay-Regular.woff2) format("woff2"),url(./assets/fonts/SaolDisplay-Regular.woff2) format("woff");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: GT America Extended;
    src: url(./assets/fonts/GTAmerica-ExtRg.woff2) format("woff2"),url(./assets/fonts/GTAmerica-ExtRg.woff2) format("woff");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: GT America Extended;
    src: url(./assets/fonts/GTAmerica-ExtRgIt.woff2) format("woff2"),url(./assets/fonts/GTAmerica-ExtRgIt.woff) format("woff");
    font-weight: 400;
    font-style: italic
  }
  
  @font-face {
    font-family: GT America Extended;
    src: url(./assets/fonts/GTAmerica-ExpBd.woff2) format("woff2"),url(./assets/fonts/GTAmerica-ExpBd.woff2) format("woff");
    font-weight: 700;
    font-style: normal
  }
  
  @font-face {
    font-family: GT America Extended;
    src: url(./assets/fonts/GTAmerica-ExpBdIt.woff2) format("woff2"),url(./assets/fonts/GTAmerica-ExpBdIt.woff2) format("woff");
    font-weight: 700;
    font-style: italic
  }
  
  @font-face {
    font-family: GT America Expanded;
    src: url(./assets/fonts/GTAmerica-ExpMd.woff2) format("woff2"),url(./assets/fonts/GTAmerica-ExpMd.woff2) format("woff");
    font-weight: 500;
    font-style: normal
  }
  
  @font-face {
    font-family: GT America Expanded;
    src: url(./assets/fonts/GTAmerica-ExpBd.woff2) format("woff2"),url(./assets/fonts/GTAmerica-ExpBd.woff2) format("woff");
    font-weight: 700;
    font-style: normal
  }
  
  @font-face {
    font-family: GT America Expanded;
    src: url(./assets/fonts/GTAmerica-ExpBdIt.woff2) format("woff2"),url(./assets/fonts/GTAmerica-ExpBdIt.woff2) format("woff");
    font-weight: 700;
    font-style: italic
  }
  
html{
    scroll-behavior: smooth;
    transition: all 0.3s;
   }

   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    font-family: 'Kanit', sans-serif;
   }

   body{
    user-select: auto;
    transition: all 0.3s;
    background-color: var(--white);
    /* counter-reset: step; */
   }

   /* CSS STYLING DEFAULT TAGS.. */

   a{
    text-decoration: none;
    color: var(--owufuju-black);
    transition: all 0.3s;
    cursor: pointer;
    /* default font size */
    font-size: 12px;
   }

   /* img{ */
    /* // pointer-events: none; */
   /* } */

   button{
    border-radius: 20px;
    border: 0;
    outline: 0;
    padding: 8px 30px;
    cursor: pointer;
    transform: translateX(0);
   }
   button:hover{
    transform: translateX(7px);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
   }

   input{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: none;
    padding: 10px;
   }


::selection{
  color: var(--white);
  background-color: var(--sky-blue);
  padding: 24px;
}



 /* =============== */
 /* body content */
 /* =============== */
#header{
    position: relative;
    overflow: hidden;
    height: 88vh;
    /* background: var(--black-russian); */
    background: var(--white);
}
.logo-section h2{
  display: none;
}


.logo-section.active{
  transform: translateY(0);
  mix-blend-mode: difference;
}

.global-text.active{
  transform: translateY(0);
}
.video-section{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 88vh;
}
.nav-bar .ul-main li:hover{
  color: var(--sky-blue);
}
.head-link {
    position: absolute;
    bottom: -50px;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* background: #000; */
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
  }
  .head-link-2{
    position: absolute;
    bottom: -86px;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* background: #000; */
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
  }
  .head-link-3{
    position: absolute;
    bottom: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* background: #000; */
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
  }
  .head-link-4{
    position: absolute;
    bottom: -30px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* background: #000; */
    z-index: 2;
    color: white;
    mix-blend-mode: difference;
  }
  .head-text{
    display: flex;
    background: transparent;
    font-family: Saol Display;
    font-size: 60px;
    line-height: 60px;
    padding-left: 2rem;
  }
  @media (width < 608px) {
    .head-link{
      bottom: -40px;
    }
    .head-link-2{
      bottom: -60px;
    }
    .head-link-3{
      bottom: 20px;
    }
    .head-link-4{
      bottom: -20px;
    }
    .head-text{
      font-size: 40px;
      line-height: 38px;
      padding-left: 1rem;
  }
}

.update-banner-container{
  display: none;
}
.rythms-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 12rem 0;
  gap: 80px;
}
.ryth-sect-one{
  padding-left: 0rem;
  font-family: 'Saol Text', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  color: #0E1216;
}
.ryth-sect-one h2{
  padding-left: 7rem;
  width: 100%;
  font-family: inherit;
  display: flex;
  align-items: end;
  /* text-align: start; */
  font-size: 40px;
  font-weight: 100;
  color: inherit;
}
.ryth-sect-one img{
  width: 90%;
  height: 600px;
  padding: 0;
  object-fit: cover;
  pointer-events: none;
}
.ryth-sect-two{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #0E1216;
  padding-right: 7rem;
  font-family: 'GT America Extended', Georgia, 'Times New Roman', Times, serif;
  counter-reset: step;
}
.w-60{
  width: 60%;
  /* background: #fff !important; */
  text-align: start;
}
.rount-1{
  order: 1;
}
.rount-2{
  width: 60%;
  order: 0;
  padding-left: 5rem;
}
@media (max-width: 990px) {
  .ryth-sect-two{
    padding-right: 1rem;
  }
  .rount-2{
    order: 1;
    padding-left: 2rem;
  }
  .rount-1{
    order: 0;

  }
}
.ryth-sect-two p, .ryth-sect-two strong{
  font-size: 16px;
  font-family: inherit;
  line-height: 30px;
  color: inherit;
}
.ryth-sect-two strong{
  font-weight: 600;
}
.ryth-sect-two span{
  font-size: 16px;
  font-family: inherit;
  line-height: 20px;
}
.ryth-sect-two ul,  .ryth-sect-two .s{
  list-style: none;
  padding-left: 5rem;
  font-family: inherit;
  font-size: 16px;
}
.ryth-sect-two ul li, .ryth-sect-two .s h6{
  position: relative;
  font-family: inherit;
  font-size: inherit;
  color: var(--black-russian);
}
.ryth-sect-two ul li::before{
  content: "";
  position: absolute;
  top: 8px;
  left: -25px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--sky-blue);
}
.ryth-sect-two .s h6::before{
  counter-increment: step;
  content: counter(step) ".";
  position: absolute;
  top: 0px;
  left: -30px;
  font-size: 16px;
  font-weight: 600;
  color: var(--sky-blue);
}
.ryth-sect-two ul li a{
  font-family: inherit;
  font-size: 16px;
  color: var(--sky-blue);
}

@media (max-width: 894px) {
  .rythms-container{
    flex-wrap: wrap;
  }
  .ryth-sect-one{
    padding:0 2rem;
    width: 100%;
  }
  .ryth-sect-one img{
    width: 100%;
  }
  .ryth-sect-two{
    padding: 0 0.8rem;
    width: 100%;
  }
}
@media (max-width: 590px) {
  .ryth-sect-one h2{
    font-size: 25px;
    padding-left: 3rem;
  }
}

