.logo-section.active{
    mix-blend-mode: difference;
}

   
    .global-text.active{
        
        transform: translateY(-70px);
    }
    @media screen and (max-width: 3192px) {
      
        .global-text.active{
            transform: translateY(-30px);
    
        }
    } 
    @media screen and (max-width: 1802px) {
      
        .global-text.active{
            transform: translateY(-70px);
    
        }
    } 
     @media screen and (max-width: 1067px) {
       
        .global-text.active{
            transform: translateY(-55px);
    
        }
    }
     @media screen and (max-width: 697px) {
       
        .global-text.active{
            transform: translateY(-90px);
    
        }
    }
     @media screen and (max-width: 622px) {
       
        .global-text.active{
            transform: translateY(-80px);
    
        }
    }
     @media screen and (max-width: 490px) {
       
        .global-text.active{
            transform: translateY(-110px);
    
        }
    }
    @media screen and (max-width: 452px) {
        
        .global-text.active{
            transform: translateY(-103px);
    
        }
    }
    @media screen and (max-width: 429px) {
        
        .global-text.active{
            transform: translateY(-110px);
            
        }
    }
    @media screen and (max-width: 403px) {
        
        .global-text.active{
            transform: translateY(-138px);
    
        }
    }
    @media screen and (max-width: 389px) {
       
        .global-text.active{
            transform: translateY(-130px);
    
        }
    }
    @media screen and (max-width: 300px) {
       
        .global-text.active{
            transform: translateY(-160px);
    
        }
    }

